#WidgetsConfiguration {
    padding-left: 25px;
}

.k-header h1 {
    margin: 0;
    padding: 30px 15px;
    font-size: 32px;
    font-weight: lighter;
}

/* Sticky footer styles
    -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    min-width: 100%;
    background-color: #F5F5F5;
}

body {
    /* Margin bottom by footer height */
    margin: 0px !important;
    width: 100%;
    overflow: visible !important;
    padding: 0px !important;
    border: none;
}

.footer {
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    border: none;
}

.container-fluid .text-muted {
    margin: 20px 0;
    border: none;
}
.k-widget .k-window {
    border: none;
}
.placeholders {
    margin: 30px auto;
    border: none;
}

.placeholder img {
    display: inline-block;
}

p .k-button {
    margin: 0 15px 0 0;
}

.btn-toggle {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: none;
    height: 48px;
}

    .btn-toggle .k-icon {
        opacity: 1;
    }

    .btn-toggle,
    .k-primary.btn-toggle:hover,
    .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]),
    .btn-toggle:focus:not(.k-state-disabled):not([disabled]) {
        box-shadow: none;
        border-radius: 0;
    }

        .btn-toggle .k-i-hbars,
        .k-primary.btn-toggle:hover .k-i-hbars,
        .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]) .k-i-hbars,
        .btn-toggle:focus:not(.k-state-disabled):not([disabled]) .k-i-hbars {
            background-position: -80px -32px;
        }

@@media (max-width: 768px) {
    .k-item {
        display: block;
        clear: both;
        float: none;
        width: 100%;
        border: none;
    }

    .k-header h1 {
        margin: 0;
        padding: 16px 15px 14px 60px;
        font-size: 18px;
        font-weight: lighter;
        border: none;
    }
}

ul, li {
    list-style-type: none;
    border: none;
}

.demo {
    padding-right: 50px;
    border: none;
}

#gridNotificationJobStatus, #gridSystemStatus,
#gridTradeRepair, #gridSettlementStatus,
#gridBrokerPerformance, #gridImportSummary, #gridNotificationJobStatus,
#gridMatchedStatus, #gridSavedReports {
    height: 290px !important;
    border: none;
}

#idSystemStatus,
#idTradeRepair,
#idTradeSettlementStatus,
#idBrokerPreformance,
#idImportSummary,
#idNotificationJobStatus,
#idTradeMatchStatus,
#idSavedReports {
    border: none;
    overflow: hidden;
}

.widgetTitle {
    height: 90px !important;
}

.widgetTitleExpended {
    height: 90px !important;
}

.menuLeft {
    float: right;
}

.headerLabel {
    color: #FFF;
    position: absolute;
    left: 40%;
    margin: 5px;
    padding-top: 5px;
    font-family: Trebuchet MS,Verdana, Helvetica, Arial, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.headerLocation {
    color: white;
    text-align: right;
    margin: 5px;
    float: right;
    padding-top: 5px;
}

.headerImage {
    margin: 5px;
    padding-left: 45px;
}

#spaceDiv {
    padding-bottom: 45px;
}

#idShowWidgets {
    width: 120px !important;
}

.widgetEdithideBrokerPerformance {
    float: left;
    border: none;
}

.brokerToolBar {
    height: 50px;
}

.widgetEdithideBrokerPerformanceDays {
    float: left;
    border: none;
    top: 50px;
}

.widgetSpanText {
    white-space: nowrap;
}

.title {
    cursor: pointer;
    height: 15px;
    width: 15px;
    float: right;
}


.demo, .gridsterUl, .gridster {
    padding-left: 5px;
    width: 100% !important;
}

#tdmsPortalControls {
    padding-left: 25px;
    padding-top: 9px;
    border: none;
}

#gridTradeView {
    border-width: 0;
    height: 100%;
}

#mtitle {
    float: right;
}

#idSaveWidgets {
    visibility: hidden;
}
#idSaveWidgets, #WidgetsConfiguration {
    visibility: visible;
}


#menuDiv {
    margin: 0px;
    background-color: white;
}

.container-fluid {
    padding-right: 0px;
    margin-right: 0px;
}

#tdmsPortalControls {
    overflow: visible;
}

.row .k-header {
}

#userNameFull {
    border: medium none;
    float: right;
}

.toolbar img {
    height: 34px !important;
    width: 34px !important;
    padding-top: 5px;
}

#tradeSearchSort {
    float: left;
    padding-right: 50px;
    width: 300px;
    position: absolute;
    right: 50px;
    top: 118px;
}

#gridTradeView {
    width: 100%;
    position: absolute;
    top: 122px;
}

    #gridTradeView th, #gridTradeView td {
        height: 5px;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
    }

#cellDiv {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}

/*.k-grid tr td {
    border-bottom: 1px dotted gray;
    border-right: 1px dotted gray;
        margin: 0px !important;
        padding: 0px !important;
}
      .k-grid tr th {
        margin: 0px !important;
        padding: 0px !important;
}*/
.k-grid td {
}

span.k-datepicker {
    width: 100px !important;
    background-color: white !important;
    border: none !important;
}

.c1, .c2, .c4, .c3 {
    white-space: nowrap;
}

#sortable {
    border: none;
    width: 153px;
    position: absolute;
    left: 436px;
    top: 108px;
    text-align: left;
    margin: 5px;
    padding: 5px;
}

.k-menu .k-item > .k-link {
    font-family: Trebuchet MS,Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold !important;
    background-color: #048;
    color: white;
}

td {
    font-family: tahoma, arial,sans-serif !important;
    font-size: 12px;
}





.systenStatusRun, .MainChckSystemStatus {
    text-align: center !important;
}

#headerLocationSelect::-ms-expand {
    display: none;
}

#headerLocationSelect option {
    background-color: #E1F0F6;
    color: #048;
}

.myDDL span:first-child {
    margin: 0px !important;
    padding: 0px !important;
    line-height: none !important;
    height: 23px !important;
}

.myDDL, .myDDL span {
    margin: 0px !important;
    padding: 0px !important;
    line-height: none !important;
}



.k-header, .k-grid-header {
    background-color: #048 !important;
    font-family: Trebuchet MS,Verdana,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold !important;
    color: #FFF;
}

.k-grid-toolbar {
    overflow: hidden;
    color: #004488;
    text-decoration: none;
    font-size: 10pt;
    font-family: tahoma, arial, sans-serif;
    font-weight: bold;
    background-color: #EEF0EE !important;
}
.k-calendar .k-link.k-nav-fast {
    color: white !important;
}

/*.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
    color: white !important;
    background-color: #048 !important;
}*/
#quickFindTableTitle .k-link:link,#quickFindTableTitle .k-link:visited,#quickFindTableTitle .k-nav-current.k-state-hover .k-link {
      color: #3e6b99  !important;
  text-decoration: none  !important;
  background-color: #fff  !important;
}
.k-item .k-state-default {
    color: white !important;
}

.k-grid-header th.k-header > .k-link {
    color: white;
}

.k-alt .k-state-selected {
    background-color: #048 !important;
    color: white !important;
}

.k-state-selected {
    color: white !important;
}

    .k-state-selected td {
        background-color: #048 !important;
        color: white !important;
    }

        .k-state-selected td #myLink {
            color: white !important;
        }

#ddlSelectView {
    width: 350px;
}

.disabledButtons {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.uploadFileDiv {
    position: absolute;
    top: 50px;
    left: 50px;
}

.clsFloatButtonOver {
    font-family: Arial;
    border-style: none;
    background-color: #004488;
    color: #ffffff;
    cursor: pointer;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
}

.clsFloatButton {
    font-family: Arial;
    border-style: none;
    background-color: #83accf;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    font-size: 8pt;
    font-weight: bold;
}

#btn_uploadfile {
    position: absolute;
    top: 57px !important;
    left: 384px;
    HEIGHT: 25px;
    WIDTH: 178px;
}

#btnUploadCancel {
    position: absolute;
    top: 45px !important;
    left: 500px;
}

#confirmFileUpload {
    HEIGHT: 25px;
    WIDTH: 360px;
}

#tdTradeViewExport,#tdToolBroken {
   
    height: 30px !important;
    width: 30px !important;
}

#tdToolSearch {
    height: 30px !important;
    width: 30px !important;
   
}

#tdEditBulkComment {
    position: absolute;
    left: 56px;
    top: 43px;
}

#lbEditBulkComment {
    position: absolute;
    top: 43px;
    left: 14px;
}

#idBulkEditSave {
    position: absolute;
    top: 107px;
    left: 528px;
    width: 100px;
}

.printOptionsButton {
    font-family: Arial;
    border-style: none;
    background-color: #83ACCF;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    font-size: 9pt;
    font-weight: bold;
    height: 22px;
}



#tdTooliconUpload,#tdToolhammer,#tdToolwrench,#tdToolno,#tdTooliconUpload,#tdToolhammer,#tdToolwrench,#tdToolno,#tdToolprinter,#tdToolTick,#tdToolpencil
 {
    height: 30px !important;
    width: 30px !important;

}
#dllPrintOptionComment,#dllPrintOptionType,#dllPortfolioContact {
    width: 370px !important;
}
#printCommmentP {
   width: 366px;
    height: 113px; 
}
.lbTradePrintOptionsClass {
    float: right;
}
.rowFailed {
    display: inline-block;
    white-space: nowrap;
    float: left;
}
.failedTrades {
    width: 750px !important;
}
.failedTradesLeft {
    float: left;
}
.failedTradesRight {
    float: right;
    text-align: right;
}
#gridFailedTrades {
    width: 777px !important;
    
}
#gridFailedTrades  .k-grid-content {
    height: 265px;
}
#dllFailedReason,#failedTradeComment {

    width: 400px;
    
}

.reset-this {
    animation : none !important;
    animation-delay : 0 !important;
    animation-direction : normal !important;
    animation-duration : 0 !important;
    animation-fill-mode : none !important;
    animation-iteration-count : 1 !important;
    animation-name : none !important;
    animation-play-state : running !important;
    animation-timing-function : ease !important;
    backface-visibility : visible !important;
    background : 0 !important;
    background-attachment : scroll !important;
    background-clip : border-box !important;
    background-color : transparent !important;
    background-image : none !important;
    background-origin : padding-box !important;
    background-position : 0 0 !important;
    background-position-x : 0 !important;
    background-position-y : 0 !important;
    background-repeat : repeat !important;
    background-size : auto auto !important;
    border : 0 !important;
    border-style : none !important;
    border-width : medium !important;
    border-color : inherit !important;
    border-bottom : 0 !important;
    border-bottom-color : inherit !important;
    border-bottom-left-radius : 0 !important;
    border-bottom-right-radius : 0 !important;
    border-bottom-style : none !important;
    border-bottom-width : medium !important;
    border-collapse : separate !important;
    border-image : none !important;
    border-left : 0 !important;
    border-left-color : inherit !important;
    border-left-style : none !important;
    border-left-width : medium !important;
    border-radius : 0 !important;
    border-right : 0 !important;
    border-right-color : inherit !important;
    border-right-style : none !important;
    border-right-width : medium !important;
    border-spacing : 0 !important;
    border-top : 0 !important;
    border-top-color : inherit !important;
    border-top-left-radius : 0 !important;
    border-top-right-radius : 0 !important;
    border-top-style : none !important;
    border-top-width : medium !important;
    bottom : auto !important;
    box-shadow : none !important;
    box-sizing : content-box !important;
    caption-side : top !important;
    clear : none !important;
    clip : auto !important;
    color : inherit !important;
    columns : auto !important;
    column-count : auto !important;
    column-fill : balance !important;
    column-gap : normal !important;
    column-rule : medium none currentColor !important;
    column-rule-color : currentColor !important;
    column-rule-style : none !important;
    column-rule-width : none !important;
    column-span : 1 !important;
    column-width : auto !important;
    content : normal !important;
    counter-increment : none !important;
    counter-reset : none !important;
    cursor : auto !important;
    direction : ltr !important;
    display : inline !important;
    empty-cells : show !important;
    float : none !important;
    font : normal !important;
    font-family : inherit !important;
    font-size : medium !important;
    font-style : normal !important;
    font-variant : normal !important;
    font-weight : normal !important;
    height : auto !important;
    hyphens : none !important;
    left : auto !important;
    letter-spacing : normal !important;
    line-height : normal !important;
    list-style : none !important;
    list-style-image : none !important;
    list-style-position : outside !important;
    list-style-type : disc !important;
    margin : 0 !important;
    margin-bottom : 0 !important;
    margin-left : 0 !important;
    margin-right : 0 !important;
    margin-top : 0 !important;
    max-height : none !important;
    max-width : none !important;
    min-height : 0 !important;
    min-width : 0 !important;
    opacity : 1 !important;
    orphans : 0 !important;
    outline : 0 !important;
    outline-color : invert !important;
    outline-style : none !important;
    outline-width : medium !important;
    overflow : visible !important;
    overflow-x : visible !important;
    overflow-y : visible !important;
    padding : 0 !important;
    padding-bottom : 0 !important;
    padding-left : 0 !important;
    padding-right : 0 !important;
    padding-top : 0 !important;
    page-break-after : auto !important;
    page-break-before : auto !important;
    page-break-inside : auto !important;
    perspective : none !important;
    perspective-origin : 50% 50% !important;
    position : static !important;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019' !important;
    right : auto !important;
    tab-size : 8 !important;
    table-layout : auto !important;
    text-align : inherit !important;
    text-align-last : auto !important;
    text-decoration : none !important;
    text-decoration-color : inherit !important;
    text-decoration-line : none !important;
    text-decoration-style : solid !important;
    text-indent : 0 !important;
    text-shadow : none !important;
    text-transform : none !important;
    top : auto !important;
    transform : none !important;
    transform-style : flat !important;
    transition : none !important;
    transition-delay : 0s !important;
    transition-duration : 0s !important;
    transition-property : none !important;
    transition-timing-function : ease !important;
    unicode-bidi : normal !important;
    vertical-align : baseline !important;
    visibility : visible !important;
    white-space : normal !important;
    widows : 0 !important;
    width : auto !important;
    word-spacing : normal !important;
    z-index : auto !important;
}
.failedTradesLeft  .k-dropdown-wrap .k-state-default {
    visibility: hidden;
}
#failedTradeSave {
    position: absolute;
    top: 365px;
    left: 725px;
    width: 45px;
    height: 20px;
}
.k-window-title {

    background-image: none;
}
#idResolvedDate {
    width: 110px !important;
}

.tdmSearchTable {
    width: 500px;
    position: absolute;
    left: 50px;
}
.tdmSearchTable td{
    width:150px;
  
}
.tdmSearchTable tr{
  
    float: right;
  
}
.searchtd1 {
    text-align: right;
}
.searchtd2 {
    text-align: left;
}
.searchtd3 {
    
}

#txtTradeDate,
#txtUserCode1,
#txtSettleDate,
#txtSettleDate1,
#txtTranDate,
#txtTranDate1,
#txtLoadDate,
#txtLoadDate1
 {
    width: 80px;    
}#WidgetsConfiguration {
    padding-left: 25px;
}

.k-header h1 {
    margin: 0;
    padding: 30px 15px;
    font-size: 32px;
    font-weight: lighter;
}

/* Sticky footer styles
    -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    min-width: 100%;
    background-color: #F5F5F5;
}

body {
    /* Margin bottom by footer height */
    margin: 0px !important;
    width: 100%;
    overflow: visible !important;
    padding: 0px !important;
}

.footer {
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container-fluid .text-muted {
    margin: 20px 0;
}

.placeholders {
    margin: 30px auto;
}

.placeholder img {
    display: inline-block;
}

p .k-button {
    margin: 0 15px 0 0;
}

.btn-toggle {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: none;
    height: 48px;
}

    .btn-toggle .k-icon {
        opacity: 1;
    }

    .btn-toggle,
    .k-primary.btn-toggle:hover,
    .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]),
    .btn-toggle:focus:not(.k-state-disabled):not([disabled]) {
        box-shadow: none;
        border-radius: 0;
    }

        .btn-toggle .k-i-hbars,
        .k-primary.btn-toggle:hover .k-i-hbars,
        .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]) .k-i-hbars,
        .btn-toggle:focus:not(.k-state-disabled):not([disabled]) .k-i-hbars {
            background-position: -80px -32px;
        }

@@media (max-width: 768px) {
    .k-item {
        display: block;
        clear: both;
        float: none;
        width: 100%;
    }

    .k-header h1 {
        margin: 0;
        padding: 16px 15px 14px 60px;
        font-size: 18px;
        font-weight: lighter;
    }
}

ul, li {
    list-style-type: none;
}

.demo {
    padding-right: 50px;
}

#gridNotificationJobStatus, #gridSystemStatus,
#gridTradeRepair, #gridSettlementStatus,
#gridBrokerPerformance, #gridImportSummary, #gridNotificationJobStatus,
#gridMatchedStatus, #gridSavedReports {
    height: 290px !important;
}

#idSystemStatus,
#idTradeRepair,
#idTradeSettlementStatus,
#idBrokerPreformance,
#idImportSummary,
#idNotificationJobStatus,
#idTradeMatchStatus,
#idSavedReports {
    border: none;
    overflow: hidden;
}

.widgetTitle {
    height: 90px !important;
}

.widgetTitleExpended {
    height: 90px !important;
}

.menuLeft {
    float: right;
}

.headerLabel {
    color: #FFF;
    position: absolute;
    left: 40%;
    margin: 5px;
    padding-top: 5px;
    font-family: Trebuchet MS,Verdana, Helvetica, Arial, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.headerLocation {
    color: white;
    text-align: right;
    margin: 5px;
    float: right;
    padding-top: 5px;
}

.headerImage {
    margin: 5px;
    padding-left: 45px;
}

#spaceDiv {
    padding-bottom: 45px;
}

#idShowWidgets {
    width: 120px !important;
    border:none;
}
#idshowwidgetsL {

    border: none;
}

.widgetEdithideBrokerPerformance {
    float: left;
    border: none;
}

.brokerToolBar {
    height: 50px;
}

.widgetEdithideBrokerPerformanceDays {
    float: left;
    border: none;
    top: 50px;
}

.widgetSpanText {
    white-space: nowrap;
}

.title {
    cursor: pointer;
    height: 15px;
    width: 15px;
    float: right;
}


.demo, .gridsterUl, .gridster {
    padding-left: 5px;
    width: 100% !important;
    border: none;
}
.widgetStyle {
    border: none;
}
#tdmsPortalControls {
    padding-left: 25px;
    padding-top: 9px;
}

#gridTradeView {
    border-width: 0;
    height: 100%;
}

#mtitle {
    float: right;
}

#idSaveWidgets {
    visibility: hidden;
}
#idSaveWidgets, #WidgetsConfiguration {
    visibility: hidden;
    border: none;
}


#menuDiv {
    margin: 0px;
    background-color: white;
}

.container-fluid {
    padding-right: 0px;
    margin-right: 0px;
}

#tdmsPortalControls {
    overflow: visible;
}

.row .k-header {
}

#userNameFull {
    border: medium none;
    float: right;
}

.toolbar img {
    height: 34px !important;
    width: 34px !important;
    padding-top: 5px;
}

#tradeSearchSort {
    float: left;
    padding-right: 5px;
    width: 300px;
    position: absolute;
    right: 0px;
    top: 126px;
}

#gridTradeView {
    width: 100%;
    position: absolute;
    top: 122px;
}

    #gridTradeView th, #gridTradeView td {
        height: 5px;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
    }

#cellDiv {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}

/*.k-grid tr td {
    border-bottom: 1px dotted gray;
    border-right: 1px dotted gray;
        margin: 0px !important;
        padding: 0px !important;
}
      .k-grid tr th {
        margin: 0px !important;
        padding: 0px !important;
}*/
.k-grid td {
}

span.k-datepicker {
    width: 100px !important;
    background-color: white !important;
    border: none !important;
}

.c1, .c2, .c4, .c3 {
    white-space: nowrap;
}

#sortable {
    border: 1px dotted #000;
    width: 153px;
    position: absolute;
    left: 436px;
    top: 108px;
    text-align: left;
    margin: 5px;
    padding: 5px;
}

.k-menu .k-item > .k-link {
    font-family: Trebuchet MS,Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold !important;
    background-color: #048;
    color: white;
}

td {
    font-family: tahoma, arial,sans-serif !important;
    font-size: 12px;
}

#userLastLogin {
    float: right;
    position: relative;
    top: 14px;
    left: 53px;
}



.systenStatusRun, .MainChckSystemStatus {
    text-align: center !important;
}

#headerLocationSelect::-ms-expand {
    display: none;
}

#headerLocationSelect option {
    background-color: #E1F0F6;
    color: #048;
}

.myDDL span:first-child {
    margin: 0px !important;
    padding: 0px !important;
    line-height: none !important;
    height: 23px !important;
}

.myDDL, .myDDL span {
    margin: 0px !important;
    padding: 0px !important;
    line-height: none !important;
}

#loginNameStyle {
        font-family: Trebuchet MS;
    font-size: 12px;
    color: #048;
    font-weight: bold;
    margin: 15px;
    position: absolute;
    top: 0px;
    right: 10px;
  
}




.k-header, .k-grid-header {
    background-color: #048 !important;
    font-family: Trebuchet MS,Verdana,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold !important;
    color: #FFF;
}

.k-grid-toolbar {
    overflow: hidden;
    color: #004488;
    text-decoration: none;
    font-size: 10pt;
    font-family: tahoma, arial, sans-serif;
    font-weight: bold;
    background-color: #EEF0EE !important;
}
.k-calendar .k-link.k-nav-fast {
    color: white !important;
}

/*.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
    color: white !important;
    background-color: #048 !important;
}*/
#quickFindTableTitle .k-link:link,#quickFindTableTitle .k-link:visited,#quickFindTableTitle .k-nav-current.k-state-hover .k-link {
      color: #3e6b99  !important;
  text-decoration: none  !important;
  background-color: #fff  !important;
}
.k-item .k-state-default {
    color: white !important;
}

.k-grid-header th.k-header > .k-link {
    color: white;
}

.k-alt .k-state-selected {
    background-color: #048 !important;
    color: white !important;
}

.k-state-selected {
    color: white !important;
}

    .k-state-selected td {
        background-color: #048 !important;
        color: white !important;
    }

        .k-state-selected td #myLink {
            color: white !important;
        }

#ddlSelectView {
    width: 350px;
}

.disabledButtons {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.uploadFileDiv {
    position: absolute;
    top: 50px;
    left: 50px;
}

.clsFloatButtonOver {
    font-family: Arial;
    border-style: none;
    background-color: #004488;
    color: #ffffff;
    cursor: pointer;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
}

.clsFloatButton {
    font-family: Arial;
    border-style: none;
    background-color: #83accf;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    font-size: 8pt;
    font-weight: bold;
}

#btn_uploadfile {
    position: absolute;
    top: 57px !important;
    left: 384px;
    HEIGHT: 25px;
    WIDTH: 178px;
}

#btnUploadCancel {
    position: absolute;
    top: 45px !important;
    left: 500px;
}

#confirmFileUpload {
    HEIGHT: 25px;
    WIDTH: 360px;
}

#tdTradeViewExport,#tdToolBroken {
   
    height: 30px !important;
    width: 30px !important;
}

#tdToolSearch {
    height: 30px !important;
    width: 30px !important;
   
}

#tdEditBulkComment {
    position: absolute;
    left: 56px;
    top: 43px;
}

#lbEditBulkComment {
    position: absolute;
    top: 43px;
    left: 14px;
}

#idBulkEditSave {
    position: absolute;
    top: 107px;
    left: 528px;
    width: 100px;
}

.printOptionsButton {
    font-family: Arial;
    border-style: none;
    background-color: #83ACCF;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    font-size: 9pt;
    font-weight: bold;
    height: 22px;
}



#tdTooliconUpload,#tdToolhammer,#tdToolwrench,#tdToolno,#tdTooliconUpload,#tdToolhammer,#tdToolwrench,#tdToolno,#tdToolprinter,#tdToolTick,#tdToolpencil
 {
    height: 30px !important;
    width: 30px !important;

}
#dllPrintOptionComment,#dllPrintOptionType,#dllPortfolioContact {
    width: 370px !important;
}
#printCommmentP {
   width: 366px;
    height: 113px; 
}
.lbTradePrintOptionsClass {
    float: right;
}
.rowFailed {
    display: inline-block;
    white-space: nowrap;
    float: left;
}
.failedTrades {
    width: 750px !important;
}
.failedTradesLeft {
    float: left;
}
.failedTradesRight {
    float: right;
    text-align: right;
}
#gridFailedTrades {
    width: 777px !important;
    
}
#gridFailedTrades  .k-grid-content {
    height: 265px;
}
#dllFailedReason,#failedTradeComment {

    width: 400px;
    
}

.reset-this {
    animation : none !important;
    animation-delay : 0 !important;
    animation-direction : normal !important;
    animation-duration : 0 !important;
    animation-fill-mode : none !important;
    animation-iteration-count : 1 !important;
    animation-name : none !important;
    animation-play-state : running !important;
    animation-timing-function : ease !important;
    backface-visibility : visible !important;
    background : 0 !important;
    background-attachment : scroll !important;
    background-clip : border-box !important;
    background-color : transparent !important;
    background-image : none !important;
    background-origin : padding-box !important;
    background-position : 0 0 !important;
    background-position-x : 0 !important;
    background-position-y : 0 !important;
    background-repeat : repeat !important;
    background-size : auto auto !important;
    border : 0 !important;
    border-style : none !important;
    border-width : medium !important;
    border-color : inherit !important;
    border-bottom : 0 !important;
    border-bottom-color : inherit !important;
    border-bottom-left-radius : 0 !important;
    border-bottom-right-radius : 0 !important;
    border-bottom-style : none !important;
    border-bottom-width : medium !important;
    border-collapse : separate !important;
    border-image : none !important;
    border-left : 0 !important;
    border-left-color : inherit !important;
    border-left-style : none !important;
    border-left-width : medium !important;
    border-radius : 0 !important;
    border-right : 0 !important;
    border-right-color : inherit !important;
    border-right-style : none !important;
    border-right-width : medium !important;
    border-spacing : 0 !important;
    border-top : 0 !important;
    border-top-color : inherit !important;
    border-top-left-radius : 0 !important;
    border-top-right-radius : 0 !important;
    border-top-style : none !important;
    border-top-width : medium !important;
    bottom : auto !important;
    box-shadow : none !important;
    box-sizing : content-box !important;
    caption-side : top !important;
    clear : none !important;
    clip : auto !important;
    color : inherit !important;
    columns : auto !important;
    column-count : auto !important;
    column-fill : balance !important;
    column-gap : normal !important;
    column-rule : medium none currentColor !important;
    column-rule-color : currentColor !important;
    column-rule-style : none !important;
    column-rule-width : none !important;
    column-span : 1 !important;
    column-width : auto !important;
    content : normal !important;
    counter-increment : none !important;
    counter-reset : none !important;
    cursor : auto !important;
    direction : ltr !important;
    display : inline !important;
    empty-cells : show !important;
    float : none !important;
    font : normal !important;
    font-family : inherit !important;
    font-size : medium !important;
    font-style : normal !important;
    font-variant : normal !important;
    font-weight : normal !important;
    height : auto !important;
    hyphens : none !important;
    left : auto !important;
    letter-spacing : normal !important;
    line-height : normal !important;
    list-style : none !important;
    list-style-image : none !important;
    list-style-position : outside !important;
    list-style-type : disc !important;
    margin : 0 !important;
    margin-bottom : 0 !important;
    margin-left : 0 !important;
    margin-right : 0 !important;
    margin-top : 0 !important;
    max-height : none !important;
    max-width : none !important;
    min-height : 0 !important;
    min-width : 0 !important;
    opacity : 1 !important;
    orphans : 0 !important;
    outline : 0 !important;
    outline-color : invert !important;
    outline-style : none !important;
    outline-width : medium !important;
    overflow : visible !important;
    overflow-x : visible !important;
    overflow-y : visible !important;
    padding : 0 !important;
    padding-bottom : 0 !important;
    padding-left : 0 !important;
    padding-right : 0 !important;
    padding-top : 0 !important;
    page-break-after : auto !important;
    page-break-before : auto !important;
    page-break-inside : auto !important;
    perspective : none !important;
    perspective-origin : 50% 50% !important;
    position : static !important;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019' !important;
    right : auto !important;
    tab-size : 8 !important;
    table-layout : auto !important;
    text-align : inherit !important;
    text-align-last : auto !important;
    text-decoration : none !important;
    text-decoration-color : inherit !important;
    text-decoration-line : none !important;
    text-decoration-style : solid !important;
    text-indent : 0 !important;
    text-shadow : none !important;
    text-transform : none !important;
    top : auto !important;
    transform : none !important;
    transform-style : flat !important;
    transition : none !important;
    transition-delay : 0s !important;
    transition-duration : 0s !important;
    transition-property : none !important;
    transition-timing-function : ease !important;
    unicode-bidi : normal !important;
    vertical-align : baseline !important;
    visibility : visible !important;
    white-space : normal !important;
    widows : 0 !important;
    width : auto !important;
    word-spacing : normal !important;
    z-index : auto !important;
}
.failedTradesLeft  .k-dropdown-wrap .k-state-default {
    visibility: hidden;
}
#failedTradeSave {
    position: absolute;
    top: 365px;
    left: 725px;
    width: 45px;
    height: 20px;
}
.k-window-title {

    background-image: none;
}
#idResolvedDate {
    width: 110px !important;
}

.logOutLink {
    float: right;
    font-style: italic;
    color: white;
    padding: 2px;
}
.tdmSearchTable {
    width: 500px;
    position: absolute;
    left: 50px;
}
.tdmSearchTable td{
    width:150px;
  
}
.tdmSearchTable tr{
  
    float: right;
  
}
.searchtd1 {
    text-align: right;
}
.searchtd2 {
    text-align: left;
}
.searchtd3 {
    
}

#txtTradeDate,
#txtUserCode1,
#txtSettleDate,
#txtSettleDate1,
#txtTranDate,
#txtTranDate1,
#txtLoadDate,
#txtLoadDate1
 {
    width: 80px;    
}

input, textarea, select,label, 
.k-combobox, .k-input, .k-picker-wrap, .k-input, .k-numeric-wrap, .k-input,
.k-dropdown-wrap 
 {
     font-family: Trebuchet MS !important;
    background-image: none !important;
  
     font-size: 12px;
}
.k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input {
        font-family: Trebuchet MS !important;
    background-image: none !important;
     font-size: 12px;
   
}
label {
    font-size: 12px;
}
  #tdmsMenu li { color: white !important; }

    #tdmsMenu {
        padding-left: 24px;
        position: absolute;
        width: 100%;
    }

    #tdmsMenu li .k-state-active, #tdmsMenu li .k-state-hover {
        background-color: grey !important;
        background-image: none !important;
        color: white !important;
    }

    .clsToolbar {
        background-image: url("Images/Gradient.jpg");
        color: White;
        font-family: Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
        font-size: 13pt;
        font-weight: bold
    }	