
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy</title>
</head>
<body>
    <div class=WordSection1>
        <div style="position:fixed; right:10px; top:10px;" onclick="goBAck();">BACK</div>
        <p class=MsoNormal>
            <b>
                <span lang=EN style='mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN'>
                    <br>
                    <br>
                    &nbsp;<br>
                    <br>
                    <br><div style="position:absolute;position:absolute; ">
                        <strong style="text-align: center;">
                            &nbsp;<span style='mso-spacerun:yes'>         </span><span style='mso-tab-count:6;text-align: center;'></span>PRIVACY
                            POLICY
                        </strong>
                    </div>
                </span></span>
            </b><span lang=EN style='mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN'><o:p></o:p></span>
        </p>

        <p><span lang=EN style='mso-ansi-language:EN'>&nbsp;<o:p></o:p></span></p>

        <div>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:30.0pt'>
                This privacy policy sets out how <span class=SpellE>Lightspeed</span>
                Data Solutions Inc. uses and protects any information that you give <span class=SpellE>Lightspeed</span> Data Solutions Inc. when you use this website.<br>
                <span class=SpellE>Lightspeed</span> Data Solutions Inc. is committed to
                ensuring that your privacy is protected. Should we ask you to provide certain
                information by which you can be identified when using this website, <span class=GramE>then</span> you can be assured that it will only be used in
                accordance with this privacy statement.<br>
                <span class=SpellE>Lightspeed</span> Data Solutions Inc. may change this policy
                from time to time by updating this page. You should check this page from time
                to time to ensure that you are happy with any changes. This policy is effective
                from [date].
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:30.0pt'>
                <span lang=EN style='font-family:"Arial","sans-serif";
mso-fareast-font-family:"Times New Roman";color:#222222;mso-ansi-language:EN'>
                    <br>
                    <b>What we collect</b>&nbsp;<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='margin-left:.5in'>
                <span lang=EN style='mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN'>
                    We may collect the following
                    information:<u1:p></u1:p>
                </span><span lang=EN style='mso-ansi-language:EN'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='margin-left:.5in'>
                <span lang=EN style='font-size:
10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:EN'>·</span><span lang=EN
                                                                       style='font-size:7.0pt;mso-fareast-font-family:Symbol;mso-ansi-language:EN'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span><span lang=EN style='mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN'>Name and job title<u1:p></u1:p></span><span lang=EN
                                                                  style='mso-ansi-language:EN'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='margin-left:.5in'>
                <span lang=EN style='font-size:
10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:EN'>·</span><span lang=EN
                                                                       style='font-size:7.0pt;mso-fareast-font-family:Symbol;mso-ansi-language:EN'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span><span lang=EN style='mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN'>Contact information including email address<u1:p></u1:p></span><span lang=EN style='mso-ansi-language:EN'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='margin-left:.5in'>
                <span lang=EN style='font-size:
10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:EN'>·</span><span lang=EN
                                                                       style='font-size:7.0pt;mso-fareast-font-family:Symbol;mso-ansi-language:EN'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span lang=EN style='mso-fareast-font-family:"Times New Roman";mso-ansi-language:
EN'>Preferences and</span><span lang=EN style='font-size:7.0pt;mso-fareast-font-family:
Symbol;mso-ansi-language:EN'>&nbsp;</span><span lang=EN style='mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN'>other information relevant to customer<u1:p></u1:p><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='margin-left:.5in'>
                <span lang=EN style='mso-ansi-language:
EN'><o:p>&nbsp;</o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:30.0pt'>
                <b>
                    <span lang=EN style='font-family:"Arial","sans-serif";
mso-fareast-font-family:"Times New Roman";color:#222222;mso-ansi-language:EN'>
                        What
                        we do with the information we gather<o:p></o:p>
                    </span>
                </b>
            </p>

            <p class=MsoNoSpacing style='margin-left:30.0pt'>
                <span lang=EN
                      style='mso-fareast-font-family:"Times New Roman";mso-ansi-language:EN'>
                    We
                    require this information to understand your needs and provide you with a better
                    service, and in particular for the following reasons:<u1:p></u1:p>
                </span><span lang=EN style='mso-ansi-language:EN'><o:p></o:p></span>
            </p>

            <p class=MsoNoSpacing style='margin-left:30.0pt'>
                <span lang=EN
                      style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:
EN'>·</span><span lang=EN style='font-size:7.0pt;mso-fareast-font-family:Symbol;
mso-ansi-language:EN'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class=GramE>
                    <span lang=EN style='mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN'>We</span>
                </span><span lang=EN style='mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN'>
                    may use the information to customize
                    the website according to your preferences.<u1:p></u1:p>
                </span><span lang=EN
                             style='mso-ansi-language:EN'><o:p></o:p></span>
            </p>

            <p class=MsoNoSpacing style='margin-left:30.0pt'>
                <span lang=EN
                      style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:
EN'>·</span><span lang=EN style='font-size:7.0pt;mso-fareast-font-family:Symbol;
mso-ansi-language:EN'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class=GramE>
                    <span lang=EN style='mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN'>We</span>
                </span><span lang=EN style='mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN'>will never sell your information.<u1:p></u1:p><o:p></o:p></span>
            </p>

            <p class=MsoNoSpacing style='margin-left:30.0pt'>
                <span lang=EN
                      style='mso-ansi-language:EN'><o:p>&nbsp;</o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:30.0pt'>
                <b>
                    <span lang=EN style='font-family:"Arial","sans-serif";
mso-fareast-font-family:"Times New Roman";color:#222222;mso-ansi-language:EN'>Security</span>
                </b><span lang=EN style='font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#222222;mso-ansi-language:EN'>&nbsp;<o:p></o:p></span>
            </p>

            <p class=MsoNormal style='margin-left:30.0pt'>
                <span lang=EN style='mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN'>
                    We are committed to ensuring that your
                    information is secure. In order to prevent unauthorized access or disclosure we
                    have put in place suitable physical, electronic and managerial procedures to
                    safeguard and secure the information we collect online.<u1:p></u1:p>
                </span><span lang=EN style='mso-ansi-language:EN'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:30.0pt'>
                <b>
                    <span lang=EN style='font-family:"Arial","sans-serif";
mso-fareast-font-family:"Times New Roman";color:#222222;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span>
                </b>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:30.0pt'>
                <b>
                    <span lang=EN style='font-family:"Arial","sans-serif";
mso-fareast-font-family:"Times New Roman";color:#222222;mso-ansi-language:EN'>
                        How
                        we use cookies
                    </span>
                </b><span lang=EN style='font-family:"Arial","sans-serif";
mso-fareast-font-family:"Times New Roman";color:#222222;mso-ansi-language:EN'>&nbsp;<o:p></o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:30.0pt'>
                A cookie is a small file which asks permission to be placed
                on your computer's hard drive. Once you agree, the file is added and the cookie
                helps analyze web traffic or lets you know when you visit a particular site.
                Cookies allow web applications to respond to you as an individual. The web
                application can tailor its operations to your needs, likes and dislikes by
                gathering and remembering information about your preferences.&nbsp;<br>
                We use cookies to help us provide you with a better website, by enabling us to
                monitor which pages you find useful and which you do not. A cookie in no way
                gives us access to your computer or any information about you, other than the
                data you choose to share with us.&nbsp;<br>
                You can choose to accept or decline cookies. Most web browsers automatically
                accept cookies, but you can usually modify your browser setting to decline
                cookies if you prefer. This may prevent you from taking full advantage of the
                website.<br>
                <br>
                <b>
                    <span lang=EN style='font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:#222222;mso-ansi-language:EN'>Links to other websites</span>
                </b><span lang=EN style='font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#222222;mso-ansi-language:EN'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='margin-left:30.0pt'>
                <span lang=EN style='mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN'>
                    Our website may contain links to enable
                    you to visit other websites of interest easily. However, once you have used
                    these links to leave our site, you should note that we do not have any control
                    over that other website. Therefore, we cannot be responsible for the protection
                    and privacy of any information which you provide whilst visiting such sites and
                    such sites are not governed by this privacy statement. You should exercise
                    caution and look at the privacy statement applicable to the website in question.<u1:p></u1:p><o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='margin-left:30.0pt'>
                <span lang=EN style='mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN'><o:p>&nbsp;</o:p></span>
            </p>

            <p class=MsoNormal style='margin-left:30.0pt'>
                <span lang=EN style='mso-fareast-font-family:
"Times New Roman";mso-ansi-language:EN'><o:p>&nbsp;</o:p></span>
            </p>

            <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 align=right
                   width=376 style='width:282.0pt;mso-cellspacing:0in;mso-yfti-tbllook:1184;
 mso-table-lspace:9.0pt;margin-left:6.75pt;mso-table-rspace:9.0pt;margin-right:
 6.75pt;mso-table-anchor-vertical:paragraph;mso-table-anchor-horizontal:margin;
 mso-table-left:right;mso-table-top:5.45pt;mso-padding-alt:0in 0in 0in 0in'>
                <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
                    <td width=115 style='width:86.25pt;padding:0in 0in 0in 0in'>
                        <p class=MsoNoSpacing style='mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-left:right;mso-element-top:5.45pt;mso-height-rule:exactly'>
                            <span style='mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                    <td width=261 style='width:195.75pt;padding:0in 0in 0in 0in'>
                        <p class=MsoNoSpacing style='mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-left:right;mso-element-top:5.45pt;mso-height-rule:exactly'>
                            <span style='mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:1;height:3.75pt'>
                    <td style='padding:0in 0in 0in 0in;height:3.75pt'>
                        <p class=MsoNoSpacing style='mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-left:right;mso-element-top:5.45pt;mso-height-rule:exactly'>
                            <span style='mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                    <td style='padding:0in 0in 0in 0in;height:3.75pt'>
                        <p class=MsoNoSpacing style='mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-left:right;mso-element-top:5.45pt;mso-height-rule:exactly'>
                            <span style='mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:2'>
                    <td style='padding:0in 0in 0in 0in'>
                        <p class=MsoNoSpacing style='mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-left:right;mso-element-top:5.45pt;mso-height-rule:exactly'>
                            <span style='mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                    <td style='padding:0in 0in 0in 0in'>
                        <p class=MsoNoSpacing style='mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-left:right;mso-element-top:5.45pt;mso-height-rule:exactly'>
                            <span style='mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                </tr>
                <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes;height:3.75pt'>
                    <td style='padding:0in 0in 0in 0in;height:3.75pt'>
                        <p class=MsoNoSpacing style='mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-left:right;mso-element-top:5.45pt;mso-height-rule:exactly'>
                            <span style='mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                    <td style='padding:0in 0in 0in 0in;height:3.75pt'>
                        <p class=MsoNoSpacing style='mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-left:right;mso-element-top:5.45pt;mso-height-rule:exactly'>
                            <span style='mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                        </p>
                    </td>
                </tr>
            </table>

            <p class=MsoNoSpacing style='margin-left:30.0pt'>
                <b>
                    <span lang=EN
                          style='font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#222222;mso-ansi-language:EN'>Contact us</span><o:p></o:p>
                </b>
            </p>

            <p class=MsoNoSpacing style='margin-left:30.0pt'>
                <b>
                    Corporate Headquarters<span style='mso-tab-count:1'></span><span style='mso-tab-count:1'>            </span>Phone:
                    (323)954-3000
                </b><br>
                6330 San Vicente Blvd<span style='mso-spacerun:yes'>                    </span><span style='mso-tab-count:1'></span><b>Fax: (323)945-3005</b><br>
                Suite 245<span style='mso-tab-count:3'>                                   </span><span style='mso-spacerun:yes'></span><span style='mso-tab-count:1'>        </span><b>
                    <span style='mso-fareast-font-family:"Times New Roman";color:#4B6996'>
                        <a href="mailto:tdmsinfo@lsdsnet.com">
                            <span style='color:#4B6996;text-decoration:
none;text-underline:none'>tdmsinfo@lsdsnet.com</span>
                        </a>
                    </span>
                </b><br>
                Los Angeles, CA 90048<span style='mso-tab-count:2'>                       </span><a href="http://www.lightspeedtdms.com/">http://www.lightspeedtdms.com/</a><span style='mso-tab-count:5'></span><span style='mso-tab-count:2'></span><span style='mso-fareast-font-family:
"Times New Roman"'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:30.0pt'>
                <span lang=EN style='mso-ansi-language:EN'>
                    &nbsp;<o:p>
                        <b>
                            <span lang=EN style='mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN'></span>
                        </b>
                    </o:p>
                </span>
            </p>

        </div>

    </div>
    </u1:p>
</body>
</html>
