@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
<div class="pickerTradeMatchStatus">
    <div id="gridMatchedStatus"></div>
</div>

<script type="text/x-kendo-template" id="tradeMatchToolBar">

    <div class="widgetTitleText">TDMS Trade Match Status  <img class="title" src="@Url.Content("~/images/drag_and_drop-128.png" )" /></div>
    <span class="widgetSpanText">Refresh:  </span>
    <select id="tradeMatchRefresh">
        <option value="1" selected>30 sec</option>
        <option value="2">1 min</option>
        <option value="10">5 min</option>
        <option value="60">30 min</option>
        <option value="120">1 hr</option>
    </select>
    <span class="widgetSpanText">Trade data options:  </span>
    <input type="checkbox" id="idTotals" />
    <span class="widgetSpanText">Totals   </span>
    <input type="checkbox" id="idTxnSide" />
    <span class="widgetSpanText">Txn Side   </span>
    <input type="checkbox" id="idNotifyType" />
    <span class="widgetSpanText">Notify Type</span>
    <span class="widgetSpanText">Display:</span>
    <img id="idTradeMatchStatusList" src="@Url.Content("~/images/list_off_20.png")" alt="List Display" />
    <img id="idTradeMatchStatusBar" src="@Url.Content("~/images/bar_on_20.png")" alt="Bar Chart Display" />
    <img id="idTradeMatchStatusPie" src="@Url.Content("~/images/pie_on_20.png")" alt="Pie Chart Display" />
</script>
