
<div>
    <label>Type:</label> <select id="typeCommentBulk" class="typeCommentBulk"></select> <br>
    <label id="lbEditBulkComment">Edit:</label> <textarea id="tdEditBulkComment" rows="4" cols="50"></textarea>
</div>
<button id="idBulkEditSave" class="clsFloatButtonOver" onmouseover="javascript:this.className ='clsFloatButton' ; " onmouseout="javascript:this.className ='clsFloatButtonOver' ;" type="submit">Save</button>


<script src="/Scripts/views/BulkEdit.js"></script>
<link rel="stylesheet" href="/Content/Views/BulkEdit.css" />